<ng-container *ngIf="loading; then loadingArtists; else loadedArtists">
</ng-container>

<ng-template #loadedArtists>
  <div class="search">
    <form [formGroup]="searchForm" (ngSubmit)="searchArtist()">
      <input type="text" formControlName="searchInput" placeholder="Enter to search an artist"  />
    </form>
  </div>
  <div class="artists-container">
    <ng-container *ngFor="let artist of artists">
      <app-artist [artist]="artist"></app-artist>
    </ng-container>
  </div>
</ng-template>

<ng-template #loadingArtists>
  <app-loading></app-loading>
</ng-template>
