$background-color: #ffff;
$background-secondary-color: #51087E;
$background-tertiary-color: #3c005a;
$base: #1C1C29;
$base-color: black;
$font-color: #ffff,;
$font-color-default: #3c005a;
$font-color-secondary: #ffff;
$font-color-tertiary: #3c005a;
$loading-color: #3C005AFF;
$font-size: 24px;
$font-primary-size: 20px;
