$background-color: #ffff;
$background-secondary-color: #51087E;
$background-tertiary-color: #3c005a;
$font-color: #ffff;
$font-color-secondary: #51087E;
$font-color-tertiary: #3c005a;
$font-size: 24px;
